<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">URL</property>
        <property name="hibernate.connection.username">LOGIN</property>
        <property name="hibernate.connection.password">PASSWORD</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="org.example.model.Equation"/>
        <mapping class="org.example.model.Root"/>
    </session-factory>
</hibernate-configuration>
